<form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
    <div class="form-group row">
        <div class="col-sm-4">
            <input class="form-control" formControlName="firstName" placeholder="First Name" />
            <div *ngIf="myForm.controls.firstName.touched && !myForm.controls.firstName.valid" class="text-danger">
                First name is required.
            </div>
        </div>
        <label class="form-group">--AND--</label>
        <div class="col-sm-4">
            <input class="form-control" formControlName="lastName" placeholder="Last Name" />
            <div *ngIf="myForm.controls.lastName.touched && !myForm.controls.lastName.valid" class="text-danger">
                Last name is required.
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-4">
            <input class="form-control" formControlName="zip" placeholder="Zip Code" />
            <div *ngIf="myForm.controls.zip.touched && !myForm.controls.zip.valid" class="text-danger">
                Minimum 5 characters long.
            </div>
        </div>
        <label class="form-group">-- OR --</label>
        <div class="col-sm-4">
            <input class="form-control" formControlName="dob" placeholder="Date Of Birth (mm/dd/yyyy)" />
            <div *ngIf="myForm.controls.dob.touched && !myForm.controls.dob.valid" class="text-danger">
                Minimum 8 characters long.
            </div>
        </div>
    </div>
    <div *ngIf="myForm.dirty && myForm.hasError('validationError')" class="text-danger">
        Zipcode or Date of birth is required.
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" [disabled]="myForm.invalid">Submit</button>
    </div>
</form>